
.top-bar {
    background-color: #555;
    color: #fff;
}

.top-bar div ul li {
    background-color: #555;
}

.clock-background {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: lightblue;
}

form {
    margin-top: 25px;
    margin-left: -50px;
}

.control-buttons {
    margin-top: 25px;
    width: 100px;
    margin-left: 15px;
}

#clock-display {
    color: #777;
    font-size: 50px;
}