p {
    color: red;
}

.top-bar {
    background-color: #555;
    color: #fff;
}

.top-bar div ul li {
    background-color: #555;
}

.clock-background {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: lightblue;
}

#timer-controls {
    margin-top: 25px;
}